.body{
    background-color: rgb(247, 208, 245);
}

.Logo{
    width: 200px;
    height: 150px;
}
.barbie{
    width: 250px;
    height: 250px;
    border-radius: 100%
}
.seccion{
    text-align: center;
}
.front{
    width: 200px;
    height: 200px;
    margin: 50px;
    border-radius: 5%
}
.c{
    color: rgb(98, 98, 228);
}
.color{
    background-color: rgb(243, 172, 225);
    text-align: center;
    
}
.p{
    color: rgb(162, 26, 204);
}
.contenedor-experiencia{
    margin: 50px;
    text-align: center;
    
}
.experiencia{
    padding: 40px;
}
.experiencia .columna{
    padding: 20px;
    border: 2px solid rgb(194, 95, 197) ;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.experiencia .columna:hover{
    color:rgb(6, 93, 122);
    background-color: rgb(216, 106, 128);
    transition: all 0.2s ease-in;
}
.experiencia i {
    font-size: 2.5 rem;
    color: rgb(35, 190, 139);
    background-color: rgb(175, 115, 73);
    padding: 8px 19px; 
    border-radius:50%;
}
.seccion-articulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
}
